/* Загальні утиліти */
:root {
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --tertiary-bg-and-text-color: #FFFFFF;
    --primary-accent-bg-and-text-color: #2196F3;
    --secondary-accent-bg-color: #188CE8;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    display: block;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--tertiary-bg-and-text-color);
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*  Header  */
.header-container {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

/* Панель навігації*/
.nav {
    display: flex;
    gap: 50px;
}

.nav__link {
    position: relative;
    color: var(--primary-text-color);
    transition: color 250ms var(--transition-timing-function);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--primary-accent-bg-and-text-color);
}

.nav__link--current {
    color: var(--primary-accent-bg-and-text-color);
}

.nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-accent-bg-and-text-color);
    border-radius: 2px;
    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function);
}

/* Адреса та контакти */
.header-contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    transition: color 250ms var(--transition-timing-function);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--primary-accent-bg-and-text-color);
}

.header-contacts__icon-envelope {
    fill: currentColor;
    margin-right: 10px;
}

.header-contacts__icon-envelope:hover,
.header-contacts__icon-envelope:focus {
    fill: var(--primary-accent-bg-and-text-color);
}

.header-contacts__icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}

.header-contacts__icon-smartphone:hover,
.header-contacts__icon-smartphone:focus {
    fill: var(--primary-accent-bg-and-text-color);
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.address-wrap {
    margin-top: 20px;
}

.footer-contacts__address-link {
    color: var(--tertiary-bg-and-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer-contacts__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--transition-timing-function);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    line-height: 1.7;
    padding-top: 9px;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--primary-accent-bg-and-text-color);
}

.soc-wrap {
    margin-left: 70px;
}

.soc-wrap__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tertiary-bg-and-text-color);
    padding-top: 12px;
    margin-bottom: 20px;
}

/* Стилі для іконок-соцмереж див. у файлі "_soc-icons.scss" цієї папки Common*/
/* Підписка на розсилку */
.signup-form {
    margin-left: 93px;
    width: 100%;
}

.signup-form__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tertiary-bg-and-text-color);
    margin-bottom: 20px;
}

.signup-form__input {
    width: 345px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    transition: outline-color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.signup-form__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
}

.signup-form__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
}

.signup-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
}

.signup-form__input:focus-within {
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.signup-form__btn-wrap {
    position: relative;
    width: 200px;
    height: 50px;
    display: inline-block;
}

.signup-form__btn {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--primary-accent-bg-and-text-color);
    color: var(--tertiary-bg-and-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding-right: 62px;
}

.signup-form__btn-icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}

/* Логотип */
.logo {
    color: var(--primary-accent-bg-and-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo__item--black {
    color: #000000;
}

.logo__item--white {
    color: var(--tertiary-bg-and-text-color);
}

/* Кнопки сторінки Студія (герой та форма модального вікна) */
.button {
    display: block;
    margin: 0 auto;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: var(--tertiary-bg-and-text-color);
    background-color: var(--primary-accent-bg-and-text-color);
    transition: background-color 250ms var(--transition-timing-function);
}

.button:hover,
.button:focus {
    background-color: var(--secondary-accent-bg-color);
}

.button--wide {
    min-width: 216px;
}

.button--narrow {
    min-width: 200px;
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc-list__link {
    height: 44px;
    width: 44px;
    padding: 12px;
    border-radius: 50%;
}

.soc-list__link--light-bgr {
    fill: #AFB1B8;
    transition: fill 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}

.soc-list__link--light-bgr:hover,
.soc-list__link--light-bgr:focus {
    fill: var(--tertiary-bg-and-text-color);
    background-color: var(--primary-accent-bg-and-text-color);
}

.soc-list__link--dark-bgr {
    fill: var(--tertiary-bg-and-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--transition-timing-function);
}

.soc-list__link--dark-bgr:hover,
.soc-list__link--dark-bgr:focus {
    background-color: var(--primary-accent-bg-and-text-color);
}

/* Герой */
.hero-container {
    height: 600px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-color: #2F303A;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.container__hero-title {
    color: var(--tertiary-bg-and-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 30px auto;
}

/* Модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    transition: opacity 250ms var(--transition-timing-function);
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--tertiary-bg-and-text-color);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition-timing-function);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 250ms var(--transition-timing-function);
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--tertiary-bg-and-text-color);
    transition: fill 250ms var(--transition-timing-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
    cursor: pointer;
    fill: var(--primary-accent-bg-and-text-color);
}

/* Форма модального вікна */
.application-form {
    padding: 40px;
}

.application-form__header {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.application-form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.application-form__label-text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.application-form__input-wrapper {
    position: relative;
}

.application-form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    display: block;
    width: 100%;
    padding-left: 42px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: currentColor;
    transition: border-color 250ms var(--transition-timing-function), outline-color 250ms var(--transition-timing-function);
}

.application-form__input:hover,
.application-form__input:focus {
    border-color: var(--primary-accent-bg-and-text-color);
}

.application-form__input:focus-within {
    border: none;
    outline: 1px solid var(--primary-accent-bg-and-text-color);
}

.application-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: border-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}

.application-form__icon:hover,
.application-form__icon:focus {
    fill: var(--primary-accent-bg-and-text-color);
}

.application-form__input:hover+.application-form__icon,
.application-form__input:focus+.application-form__icon {
    fill: var(--primary-accent-bg-and-text-color);
}

.application-form__comment {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: currentColor;
    transition: border-color 250ms var(--transition-timing-function), outline-color 250ms var(--transition-timing-function);
}

.application-form__comment:hover,
.application-form__comment:focus {
    border-color: var(--primary-accent-bg-and-text-color);
}

.application-form__comment:focus-within {
    border: none;
    outline: 1px solid var(--primary-accent-bg-and-text-color);
}

.application-form__comment::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.application-form__comment:-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.application-form__comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.application-form__label-terms {
    position: relative;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    padding-left: 37px;
}

.application-form__agreement-link {
    text-decoration: underline;
    color: var(--primary-accent-bg-and-text-color);
    display: inline-block;
}

.application-form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.application-form__checkbox-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    transition: background-color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.application-form__checkbox:checked~.application-form__checkbox-icon {
    background-color: var(--primary-accent-bg-and-text-color);
    border: 1px solid transparent;
}

/* Стилі для кнопки-відправки форми в секці Common */
/* Переваги студії */
.advant-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advant-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.advant-list__item {
    max-width: 270px;
}

.advant-list__title {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advant-list__desc {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.advant-list__icon-wrap {
    background-color: var(--secondary-bg-color);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Напрями діяльності студії */
.activities-container {
    padding-bottom: 94px;
}

.container__activities-section-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.activities-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.activities-list__item {
    position: relative;
}

.activities-list__overley {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tertiary-bg-and-text-color);
    background: rgba(47, 48, 58, 0.8);
}

/* Команда студії */
.team-container {
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.container__team-section-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-list__item {
    background-color: var(--tertiary-bg-and-text-color);
    width: calc((100% - 90px) / 4);
}

.team-list__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-list__meta {
    padding: 30px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-list__position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

/* Постійні клієнти */
.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container__clients-section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
    fill: var(--primary-accent-bg-and-text-color);
    border: 1px solid var(--primary-accent-bg-and-text-color);
}

/* Кнопки сторінки Портфоліо */
.portfolio-btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-btn-list__item {
    background-color: var(--secondary-bg-color);
    transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
}

.portfolio-btn-list__item:hover,
.portfolio-btn-list__item:focus {
    color: var(--tertiary-bg-and-text-color);
    background-color: var(--primary-accent-bg-and-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Перелік проектів сторінки Портоліо*/
.main-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-container {
    margin-left: auto;
    margin-right: auto;
}

.projects-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-set__item {
    background-color: var(--tertiary-bg-and-text-color);
    width: calc((100% - 60px) / 3);
    transition: box-shadow 250ms var(--transition-timing-function);
}

.projects-set__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item-visual__image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Оверлей на картці*/
.project-item-visual {
    position: relative;
    overflow: hidden;
}

.project-item-visual__overley {
    position: absolute;
    transform: translateY(0);
    transition: transform 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.projects-set__item:hover .project-item-visual__overley,
.projects-set__item:focus .project-item-visual__overley {
    transform: translateY(-100%);
    color: var(--tertiary-bg-and-text-color);
    background-color: rgba(33, 150, 243, 0.9);
}

/* Описова частина карток */
.project-item-meta {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
}

.project-item-meta__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-item-meta__text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}